{% extends "layout.html" %}
{% block body %}
	<div class="container px-1">
		<button type="button" class="btn btn-primary btn-lg px-5" id="btnHoy">Hoy</button>
		<button type="button" class="btn btn-primary btn-lg" id="btnMes">Este mes</button>
		<button type="button" class="btn btn-primary btn-lg" id="btnAno">Este año</button>
	</div>
	<!-- Lista de Ingresos y Egresos -->
	<div id="ingresosEgresos" class="py-5">
		
	</div>
	<!-- Boton para agregar nuevo ingreso/egreso -->
	<footer>
		<div class="container fixed-bottom mb-5">
			<div class="row mb-5">
				<div class="row">
					<div class="col-9"></div>
					<div class="col-3">
						<button type="button" class="btn btn-success btn-lg fs-4" id="btnAgregarEgresoIngreso" data-bs-target="#modalEgresoIngreso" data-bs-toggle="modal">Agregar Ingreso/Egreso</button>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Modal para Agregar nuevo egreso/ingreso -->
	<div class="modal fade" id="modalEgresoIngreso" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Agregar nuevo Ingreso/Egreso</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="mb-3">
						<label for="fechaModalIE" class="form-label">Fecha</label>
						<input type="text" class="form-control" id="fechaModalIE" autocomplete="off" value="" placeholder="dd/mm/aaaa">
					</div>
					<div class="mb-3">
						<label for="descripcionIE" class="form-label">Descripcion</label>
						<input type="text" class="form-control" id="descripcionIE" autocomplete="off" value=" ">
					</div>
					<div class="mb-3">
						<label for="montoEI" class="form-label">Monto</label>
						<input type="text" class="form-control" id="montoIE" autocomplete="off" value=" ">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
					<button type="button" class="btn btn-warning" id="btnAgregarEgreso">Egreso</button>
					<button type="button" class="btn btn-success" id="btnAgregarIngreso">Ingreso</button>
				</div>
			</div>
		</div>
		<script src="../static/js/caja.js"></script>
	{% endblock %}