{% extends "layout.html" %}
{% block body %}
	<div class="container px-5">
		<div class="row">
			<div class="col-md-5">
				<div class="input-group my-3">
					<input type="text" placeholder="Ingrese producto a buscar" class="form-control" id="buscadorInventario">
				</div>
			</div>
		</div>
		<table class="table table-striped mt-5">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Codigo</th>
					<th scope="col">Descripcion</th>
					<th scope="col">Precio Compra</th>
					<th scope="col">Precio Venta</th>
					<th scope="col">Stock</th>
					<th scope="col">Opciones</th>
				</tr>
			</thead>
			<tbody id="tablainventario">
			</tbody>
		</table>
	</div>
	<!-- Boton Agregar Nuevo Producto -->
	<footer>
			<div class="container fixed-bottom mb-5">
				<div class="row mb-5">
					<div class="row">
						<div class="col-8"></div>
						<div class="col-4">
							<button type="button" class="btn btn-primary btn-lg fs-4" id="btnAgregarProducto" data-bs-target="#modalProducto" data-bs-toggle="modal">Agregar Producto</button>
						</div>
					</div>
				</div>
			</div>
		</footer>

	<!-- Modal para Agregar producto -->
		<div class="modal fade" id="modalProducto" tabindex="-1" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Editar precio</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="mb-3">
						<label for="codigoProducto" class="form-label">Codigo del producto</label>
						<input type="text" class="form-control" id="codigoProducto" autocomplete="off">
					</div>
					<div class="mb-3">
						<label for="descripcionProducto" class="form-label">Descripcion del Producto</label>
						<input type="text" class="form-control" id="descripcionProducto" autocomplete="off">
					</div>
					<div class="mb-3">
						<label for="precioCompraProducto" class="form-label">Precio compra</label>
						<input type="text" class="form-control" id="precioCompraProducto" autocomplete="off">
					</div>
					<div class="mb-3">
						<label for="precioVentaProducto" class="form-label">Precio Venta</label>
						<input type="text" class="form-control" id="precioVentaProducto" autocomplete="off">
					</div>
					<div class="mb-3">
						<label for="stockProducto" class="form-label">Stock</label>
						<input type="text" class="form-control" id="stockProducto" autocomplete="off">
					</div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
						<button type="button" class="btn btn-primary" id="btnAgregarNuevoProducto">Agregar producto</button>
					</div>
				</div>
			</div>
		</div>
	<script src="../static/js/inventario.js"></script>
{% endblock %}

