<div class="container">
	<div class="row justify-content-start">
		<div class="col-5">
			<div class="input-group mb-3">
				<span class="input-group-text fs-4 fw-bolder">$</span>
				<span class="input-group-text fs-4" id="totalVenta">{{totalVenta}}</span>
			</div>
			<div class="input-group mb-3">
				<span class="input-group-text fs-4 fw-bolder">$</span>
				<span class="input-group-text fs-4" id="totalIngreso">{{totalIngreso}}</span>
			</div>
			<div class="input-group mb-3">
				<span class="input-group-text fs-4 fw-bolder">$</span>
				<span class="input-group-text fs-4" id="totalEgreso">{{totalEgreso}}</span>
			</div>
		</div>
	</div>
</div>