{% extends "layout.html" %}
{% block body %}
	<div class="cotainer mx-5">
		<!-- Boton para abrir modal de la busqueda de productos -->
		<div class="input-group flex-nowrap input-group-lg mx-5">
			<button class="btn btn-primary" type="button" id="botonBuscar" data-bs-toggle="modal" data-bs-target="#modalBusqueda"> <i class="fas fa-search"></i> </button>
		</div>
		<br><br>
		<!-- Total de la venta -->
		<div class="input-group mb-3">
			<span class="input-group-text fs-4 fw-bolder">Total: $</span>
			<span class="input-group-text fs-4" id="totalVenta">0</span>
		</div>
		<!-- Tabla del detalle de la venta -->
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<table class="table table-striped" id="tablaListaCompras">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Codigo</th>
							<th scope="col">Descripcion</th>
							<th scope="col">Cantidad</th>
							<th scope="col">Precio</th>
							<th scope="col">Total</th>
							<th scope="col">Opciones</th>
						</tr>
					</thead>
					<tbody>
						<tr id='NoHay'>
						<td></td>
						<td></td>
						<td colspan="3" class="table-active text-center"><h1 class="mt-1">No hay productos seleccionados</h1></td>
						<td></td>
						<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- Boton confirmar venta -->
		<footer>
			<div class="container fixed-bottom mb-5">
				<div class="row mb-5">
					<div class="row">
						<div class="col-8"></div>
						<div class="col-4">
							<button type="button" class="btn btn-primary btn-lg" id="btnRegistrarVenta" data-bs-target="#modalVenta" data-bs-toggle="modal">Generar venta</button>
						</div>
					</div>
				</div>
			</div>
		</footer>
		
		
		<!-- Modal de la busqueda de productos -->
		<div class="modal fade" id="modalBusqueda" tabindex="-1"aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Buscar Productos</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="input-group mb-3">
							<input placeholder="Ingrese producto a buscar" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="buscador" autocomplete="off">
						</div>
						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col">Codigo</th>
									<th scope="col">Nombre</th>
									<th scope="col">Compra</th>
									<th scope="col">Venta</th>
									<th scope="col">Cantidad</th>
								</tr>
							</thead>
							<tbody id="resultado">
								
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal para generar venta -->
		<div class="modal fade" id="modalVenta" tabindex="-1"aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Buscar Productos</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="input-group mb-3">
							<input placeholder="Nombre del Cliente" type="text" class="form-control fs-5" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="adaad" autocomplete="off">
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text fs-5 fw-bolder">Total: $</span>
							<span class="input-group-text fs-5" id="totalVentaModal">0</span>
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text fs-5 fw-bolder">Fecha:</span>
							<span class="input-group-text fs-5" id="fechaModal"></span>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
						<button type="button" class="btn btn-primary">Completar Venta</button>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}