{% extends "layout.html" %}
{% block body %}
<div class="cotainer mx-5">
	<div class="input-group flex-nowrap input-group-lg mx-5">
		<button class="btn btn-primary" type="button" id="botonBuscar"> <i class="fas fa-search"></i> </button>
	</div>
	<br><br>
	<div class="input-group mb-3">
		<span class="input-group-text fs-4 fw-bolder">Total: $</span>
		<span class="input-group-text fs-4">150.000</span>
	</div>

	<div class="row">
		<div class="col-md-10 offset-md-1">
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Codigo</th>
				<th scope="col">Descripcion</th>
				<th scope="col">Cantidad</th>
				<th scope="col">Precio</th>
				<th scope="col">Total</th>
				<th scope="col">Opciones</th>
			</tr>
		</thead>
		<tbody>
			<tr>
		      <th scope="row">1</th>
		      <td>250</td>
		      <td>Remera</td>
		      <td>2</td>
		      <td>25000</td>
		      <td>50000</td>
		      <td><i class="fas fa-pen"></i> <i class="fas fa-trash"></i> <i class="fas fa-plus"> <i class="fas fa-minus"></i></i></td>
		    </tr>
		    <tr>
		      <th scope="row">2</th>
		      <td>250</td>
		      <td>Remera</td>
		      <td>2</td>
		      <td>25000</td>
		      <td>50000</td>
		      <td><i class="fas fa-pen"></i> <i class="fas fa-trash"></i> <i class="fas fa-plus"> <i class="fas fa-minus"></i></i></td>
		    </tr>
		    <tr>
		      <th scope="row">3</th>
		      <td>250</td>
		      <td>Remera</td>
		      <td>2</td>
		      <td>25000</td>
		      <td>50000</td>
		      <td><i class="fas fa-pen"></i> <i class="fas fa-trash"></i> <i class="fas fa-plus"> <i class="fas fa-minus"></i></i></td>
		    </tr>
		</tbody>
	</table>
	</div>
	</div>
</div>
{% endblock %}